{% extends "base.html" %}

{% block lab %}Холодильник{% endblock %}

{% block main %}
    <h1>Настройка температуры холодильника</h1>
    <form method="post">
        <div>
            <label for="temperature">Введите температуру (°C):</label>
            <input type="number" id="temperature" name="temperature" required>
        </div>
        <div>
            <button type="submit">Установить температуру</button>
        </div>
    </form>

    {% if result %}
        <div style="margin-top: 20px; font-weight: bold; color: blue;">
            {{ result }}
        </div>
    {% endif %}
{% endblock %}