{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
    <h1>Новогодняя открытка</h1>
    <form method="POST">
        <label>Ваш пол:</label><br>
        <input type="radio" id="male" name="gender" value="male" required>
        <label for="male">Мужской</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Женский</label><br>
        <button type="submit">Далее</button>
    </form>
{% endblock %}