{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div class="button-container">
        <a href="lab5.list" class="button">Список статей</a>
        <a href="lab5.create" class="button">Создать статью</a>
        <a href="lab5.login" class="button">Войти</a>
        <a href="lab5.register" class="button">Регистрация</a>
        <a href="lab5.logout" class="button">Выйти</a>
    </div>
    <p>Имя пользователя: {{ login if login else 'anonymous' }}</p>
{% endblock %}