{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div class="button-container">
        <a href="list" class="button">Список статей</a>
        <a href="create" class="button">Создать статью</a>
        <a href="login" class="button">Войти</a>
        <a href="register" class="button">Регистрация</a>
        <a href="logout" class="button">Выйти</a>
        <a href="users" class="button">Список пользователей</a>
    </div>
    <p>Имя пользователя: {{ login if login else 'anonymous' }}</p>
{% endblock %}