{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Публичные статьи</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.article_text }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Публичные статьи не найдены.</p>
    {% endif %}
{% endblock %}