{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Шаблоны</h1>   
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div> 
    <ol>
        <li>
            <a href="/lab2/example">example</a>
        </li>
        <li>
            <a href="/lab2/a">Слэш</a>
        </li>
        <li>
            <a href="/lab2/flowers/<int:flower_id>">Выбор цветка</a>
        </li>
        <li>
            <a href="/lab2/flowers">Всего цветов</a>
        </li>
        <li>
            <a href="/lab2/add_flower/<name>">Добавление цветка</a>
        </li>
        <li>
            <a href="/lab2/clear_flowers">Очистка списка</a>
        </li>
        <li>
            <a href="/lab2/filters">Фильтры</a>
        </li>
        <li>
            <a href="/lab2/calc/<int:a>/<int:b>">Калькулятор</a>
        </li>
        <li>
            <a href="/lab2/calc/<int:a>">Перенаправление калькулятора</a>
        </li>
        </ol>
{% endblock %}







