{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
<div class="container">
    <h1>Заказ напитка</h1>
    <form action="/lab3/pay">
        <div class="form-group">
            <label for="drink">Напиток:</label>
            <div>
                <label>
                    <input type="radio" value="cofee" name="drink" checked> Кофе (120 руб.)
                </label>
                <label>
                    <input type="radio" value="black-tea" name="drink"> Черный чай (80 руб.)
                </label>
                <label>
                    <input type="radio" value="green-tea" name="drink"> Зеленый чай (70 руб.)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="addings">Добавки:</label>
            <div>
                <label>
                    <input type="checkbox" name="addings" value="milk"> Молоко (30 руб.)
                </label>
                <label>
                    <input type="checkbox" name="addings" value="sugar"> Сахар (10 руб.)
                </label>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Заказать</button>
        </div>
    </form>
</div>
{% endblock %}