{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Список статей</h1>

    <ul>
        {% for article in articles %}
        <li>
            <a href="/lab8/articles/{{ article.id }}/edit">{{ article.title }}</a>
            <form action="/lab8/articles/{{ article.id }}/delete" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <a href="/lab8/articles/create">Создать новую статью</a>
    <a href="/lab8/">Назад</a>
{% endblock %}