{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>

    <form action="/lab8/articles/{{ article.id }}/edit" method="post">
        <div>
            <label>
                Заголовок:<br><input type="text" name="title" value="{{ article.title }}">
            </label>
        </div>
        
        <div>
            <label>
                Содержимое:<br><textarea name="content">{{ article.content }}</textarea>
            </label>
        </div><br>

        <button type="submit">Сохранить изменения</button>
    </form>
    <a href="/lab8/">Назад</a>
{% endblock %}