{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>База знаний</h1>
    <div>
        <a class="button" href = "/lab8/articles/<int:article_id>/edit">Редактровать статью</a>
        <a class="button" href= "/lab8/create">Создать статью</a>
        <a class="button" href="/lab8/login" >Войти</a>
        <a class="button" href="/lab8/register/">Регистрация</a>
    </div>
    <p>Имя пользователя: {{ login if login else 'anonymous' }}</p>
{% endblock %}